[target-config]
event-id = 50910675
owner-id = 10909638

[account-config]
entry-token = eyJ0eXAwerqyashasdfsd1NiJ9.eyJwYXlsb2FkIjoidWUxYjVQdGYxL0JaZ3lTTmtCZasdfhhasdSDGHPejhqWUhpWUJhLzg3d2g0T3I3WkRRQ0pQV0RpUnZoasdfHDSfaNEQmV1UUFoL2M5NGJmdHRDYTFXVGttZlorTnM9In0.9VDGH12gGAADGHrvxFkU_1qAOGG7v7AAQQQ
check-frequency = 3

[search-config]
search-start = 2025-07-30
search-end = 2025-08-03
event-dates = 2025-7-31,2025-8-1,2025-8-2
event-before = 2025-7-29
event-after = 2025-8-3

[web-config]
json-output = ../html/raw.json
table-json = ../html/data.json
time-stamp-location = ../html/timestamp

[db-config]
db-name = gch-data
db-host = influx.genconhotels.com
db-port = 8086
db-username = myusername
db-password = influxdb-token#