[{"hotel_name": "Sheraton Indianapolis Hotel at Keystone Crossing", "hotel_id": 1670, "distance": 14.5, "distance_unit": 3, "room_name": "Traditional King", "room_id": 940825782, "room_rate": 189.0, "2025-7-30": "Y", "2025-7-31": "Y", "2025-8-1": "Y", "2025-8-2": "Y"}]