[][{"hotel_name": "Sheraton Indianapolis Hotel at Keystone Crossing", "hotel_id": 1670, "distance": 12.7, "distance_unit": 3, "room_name": "King with Sofabed", "room_id": 936331410, "room_rate": 185.0, "2023-8-3": "Y", "2023-8-4": "Y"}]